<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.product.service.impl.ProductMapper">
	
	<select id="getProductList" parameterType="prd" resultType="prd">
		SELECT *
		FROM PRODUCT_TBL_10
		ORDER BY PRODUCT_ID
	</select>
	
	<insert id="insertProduct" parameterType="prd">
		INSERT INTO PRODUCT_TBL_10
		(PRODUCT_ID, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_INFO, PRODUCT_DATE, COMPANY, MANAGER_ID)
		VALUES(
			#{product_id},
			#{product_name},
			#{product_price},
			#{product_info},
			#{product_date},
			#{company},
			#{manager_id}
		)
		
	</insert>
	<select id="getProduct" parameterType="prd" resultType="map">
		SELECT * 
		FROM PRODUCT_TBL_10
		WHERE PRODUCT_ID = #{product_id}
	</select>
	
	<insert id="insertSale" parameterType="prd">
		INSERT INTO SALE_TBL_10
		(SALE_SEQ, PRODUCT_ID, SALE_QTY, MEMBER_ID)
		VALUES(
			#{sale_seq},
			#{product_id},
			#{sale_qty},
			#{member_id}
		)
	</insert>
</mapper>